// to use we must use Use
@use "./fonts" as *;
@use "./colors" as *;
@use "./mixins" as *;

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:140px ;
    align-items: flex-end;
    position: relative;
    @include responsiveness(375px) {
        flex-direction: row;
        align-items: center;
        height: 80px;
        }

    .logo{
        font-family: Merri;
        font-size:4em;
        font-weight: 900;
        color: $Verydarkblue;
        position: relative;
        top: 10px;
        left: -3px;
    }
}    
ul{
    position: relative;
    top: -20px;
    display: flex;
    flex-direction: row;
    gap: 2.4em;
    font-family: Inter-regular;
     li a{
        color: $Darkgrayishblue;
        &:hover{
            color:$Softred;
        }
     }
    

}

.ham{
    width: 50px;
    height: 30px;
    z-index: 1000;
    cursor: pointer;
    position: relative;
    background-image: url("../assets/images/icon-menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    // margin-top: 20px;
    @include responsiveness(375px) {
        display: block;
        width: 50px;
        height: 30px;
    
        }
        
}
 @include responsiveness(375px) {
     .nav {
         position: relative;
         flex-direction: column;
         top: 300px;
         background: $Off-white;
         height: 110vh;
         padding-top: 200px;
         z-index: 1000;
         width: 400px;
         left: 40px;
         transform: translateX(200%);
         transition: transform 1s ease-out;

         li {
             padding-left: 2em;

             a {
                 color: $Verydarkblue;
                 font-size: 20px;
             }
         }
     }


  


 }
ul.active {
            transform: translateX(0%);
            transition: transform 1s ease-out;

}
.ham.active {
   
    background-image: url("../assets/images/icon-menu-close.svg");
}
body.active{
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;
    background: rgb(64 59 59 / 47%);
    display: none;
}
.overlay.active{
display: block;
}